In [1]:
!pip install -U finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.90-py3-none-any.whl (46 kB)
     ---------------------------------------- 46.6/46.6 kB 1.2 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.19.2 in c:\users\qhrrl\anaconda3\lib\site-packages (from finance-datareader) (1.3.4)
Requirement already satisfied: requests>=2.3.0 in c:\users\qhrrl\anaconda3\lib\site-packages (from finance-datareader) (2.26.0)
Collecting requests-file (from finance-datareader)
  Downloading requests_file-2.0.0-py2.py3-none-any.whl (4.2 kB)
Requirement already satisfied: lxml in c:\users\qhrrl\anaconda3\lib\site-packages (from finance-datareader) (4.9.2)
Requirement already satisfied: tqdm in c:\users\qhrrl\anaconda3\lib\site-packages (from finance-datareader) (4.62.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\qhrrl\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\qhrrl\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\qhrrl\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.20.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\qhrrl\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\qhrrl\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\qhrrl\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\qhrrl\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.2)
Requirement already satisfied: colorama in c:\users\qhrrl\anaconda3\lib\site-packages (from tqdm->finance-datareader) (0.4.4)
Requirement already satisfied: six>=1.5 in c:\users\qhrrl\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.16.0)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.90 requests-file-2.0.0

[notice] A new release of pip is available: 23.1.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
!pip install plotly

Collecting plotly
  Downloading plotly-5.21.0-py3-none-any.whl (15.7 MB)
     --------------------------------------- 15.7/15.7 MB 10.5 MB/s eta 0:00:00
Requirement already satisfied: tenacity>=6.2.0 in c:\users\qhrrl\anaconda3\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: packaging in c:\users\qhrrl\anaconda3\lib\site-packages (from plotly) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\qhrrl\anaconda3\lib\site-packages (from packaging->plotly) (3.0.4)
Installing collected packages: plotly
Successfully installed plotly-5.21.0

[notice] A new release of pip is available: 23.1.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import FinanceDataReader as fdr

In [7]:
df = fdr.StockListing('KRX')

In [8]:
df

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,77600,2,-2000,-2.51,78300,78700,76300,31317563,2423649194900,463255125880000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,173300,2,-9000,-4.94,177200,178500,169500,7545976,1309025865050,126162809854500,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,367000,2,-10000,-2.65,372000,372000,364500,143664,52758029500,85878000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,781000,2,-9000,-1.14,784000,789000,770000,55678,43263478000,55586894000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,65200,2,-1100,-1.66,65900,66000,63900,1494390,96899792100,53652212840000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,217320,KR7217320001,썬테크,KONEX,일반기업부,2500,0,0,0.00,0,0,0,0,0,2625000000,1050000,KNX
2799,413300,KR7413300005,티엘엔지니어링,KONEX,일반기업부,1995,2,-105,-5.00,2350,2400,1785,191,357195,2604502425,1305515,KNX
2800,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,1640,2,-9,-0.55,1640,1640,1640,1,1640,2591134400,1579960,KNX
2801,308700,KR7308700004,테크엔,KONEX,일반기업부,199,0,0,0.00,0,0,0,0,0,796000000,4000000,KNX
2802,322190,KR7322190000,베른,KONEX,일반기업부,16,3,0,0.00,13,30,13,505987,8933549,142803152,8925197,KNX

In [14]:
filtered_df = df[df['Name'] == 'LG이노텍']

In [15]:
filtered_df

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
82,011070,KR7011070000,LG이노텍,KOSPI,,181300,2,-5300,-2.84,184700,186400,179500,134717,24565629800,4290846499100,23667107,STK